

#ep1 {

    position: fixed;
    top:2px;
    
}
p {
    text-align: center;
    font-size:medium;
}
h1{
    text-align: center;
    
}
h2 { 
    text-align: center;

}
#goals {

        display: flex;
        justify-content: center;

}
#games {

    display: flex;
    justify-content: center;
}
#foods {

    display: flex;
    justify-content: center;
}

#chads {
   
    display:flex;
    justify-content: center;
    background-color: aqua;
    border-style: solid;
    border-radius: 500px;
    border-width: 4px;
    
    
    
    
}
.card {
   
    display:grid;
    text-align: center;
    
   
}

#specs {
    display: flex;
    justify-content: center;
}
#specs table th, #specs table td {
    background-color: aquamarine;
    padding: 15px;
    font-size: large;
    border-color: black;
    border-radius: 20px;
    border-style:solid;

}
.div {
    border-style: solid;
    border-radius: 20px;
    background-color: aqua;
    border:solid 5px;
    
    

}
.wrapper {

    display: grid;  
    justify-content: center;

}