header{
display: flex;
justify-content: space-around;
border:solid 2px black ;
padding: 15px;
}
.wrapper{
    display: flex;
    gap: 10px;
}
.flex-item{
    display: flex;
    
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px auto;
    margin: 0 auto;
    border:solid 2px black ;
    }
.main-item-1{

    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    border-bottom: 3px solid black;
}
.main-item-2{
   display: grid;
   grid-row: 2;
   padding: 30px;
    
}
.main-item-3{
    display: grid;
    grid-row: 2;
    font-size: medium;
    justify-content: center;    
    text-align: center;
    align-content: center;

 }
 .king h3{
    margin: 0px;
 }
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:solid 2px black ;  
    }
.footer-item-1{
    display: grid;
    justify-content: center;
   
}
.footer-item-2{
    display: grid;
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: right;
    text-decoration: underline;    
}