/* Targets Navbar*/
#navbar_wrapper{

}

#navbar{
    padding: 5px;
    background-color: rgb(35, 35, 35);

}

#navbar ul {
    display:flex;
    align-items:center;
    margin: 10px;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar ul li{
    display: inline-block;
    position: relative;
    padding: 5px;
}
#navbar ul li a{
    color: rgb(24, 241, 24);
    text-decoration: none;
    display: block;
}
#navbar ul li a:hover{
    cursor: pointer;
    color: rgb(7, 97, 7);
}
.dropdown{
    position: relative;
}
.dropdown-bttn:hover{
    cursor: pointer;
    opacity: 0.2;
}
.dropdown:hover .dropdown-content{
    display: grid;
    border-radius: 7px;
}
.dropdown-bttn{
    padding: 20px;
    margin: -15px;
  
}
.dropdown-content{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    padding: 10px;
    white-space: nowrap;
    background-color: rgb(54, 54, 54);
    z-index: 1;

}