/* Targets Navbar*/
#navbar_wrapper{

}

#navbar{
    padding: 5px;
    background-color: rgb(35, 35, 35);
    
}

#navbar ul {
    display:flex;
    margin: 10px;
    justify-content: space-evenly;
}
#navbar ul li{
    list-style-type: none;
    padding: 5px;
}
#navbar ul li a{
    color: rgb(24, 241, 24);
    text-decoration: none;
}
#navbar ul li a:hover{
    cursor: pointer;
    color: rgb(7, 97, 7);
}
#navbar img:hover {
   
    cursor: pointer;
    opacity: 0.2;
}
#navbar img{
    padding-top: 4px;
}
.dropdown{
    position: relative;
  display: inline-block;
}
.dropdown-button{

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {display:block;}