.wrapper{
border: 5px inset black;
padding: 5px;
margin: 5px;
}
.item-wrapper{
    border: 5px inset red;
    padding: 5px;
    margin: 5px;
}
.item{
    border: 5px inset blue;
    padding: 5px;
    margin: 5px;
}
.img{
    width: 300px;
    

}